<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->
<!--<label for="in">Server Name</label>-->
<!--<input id="in" class="form-control" type="text" (input)="onUpdateServerName($event)">-->
<!--<input class="form-control" type="text" [(ngModel)]="serverName">-->
<!--<button class="btn btn-primary" [disabled]="!allowNewServers" (click)="onServerCreation()">Add Server</button>-->
<!--<button class="btn btn-primary" [disabled]="!allowNewServers" (click)="onServerReset()">Reset Server Status</button>-->

<!--<h1>{{serverCreationStatus}}</h1>-->
<!--<h2 *ngIf="serverCreated"; else noServer>{{serverName}}</h2>-->
<!--<ng-template #noServer>-->
<!--  <h2>No server was created</h2>-->
<!--</ng-template>-->

<!--<app-server></app-server>-->
<!--<app-server></app-server>-->
<!--<app-server></app-server>-->
